name: Security Quality Gate

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and Audit
    runs-on: windows-latest

    steps:
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'zulu'

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Nécessaire pour SonarQube

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore Cnss.VulnerableApi/Cnss.VulnerableApi.csproj

    - name: Build
      run: dotnet build Cnss.VulnerableApi/Cnss.VulnerableApi.csproj --no-restore

    # Étape 1 : Audit des vulnérabilités NuGet
    - name: Dependency Security Audit
      run: |
        echo "Exécution de l'audit des dépendances..."
        dotnet list Cnss.VulnerableApi/Cnss.VulnerableApi.csproj package --vulnerable --include-transitive

    # Étape 2 : Scan SonarQube (Simulation de configuration)
    - name: Cache SonarQube Cloud packages
      uses: actions/cache@v4
      with:
        path: ~\sonar\cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar

    - name: Cache SonarQube Cloud scanner
      id: cache-sonar-scanner
      uses: actions/cache@v4
      with:
        path: ${{ runner.temp }}\scanner
        key: ${{ runner.os }}-sonar-scanner
        restore-keys: ${{ runner.os }}-sonar-scanner

    - name: Install SonarQube Cloud scanner
      if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
      shell: powershell
      run: |
        New-Item -Path ${{ runner.temp }}\scanner -ItemType Directory
        dotnet tool update dotnet-sonarscanner --tool-path ${{ runner.temp }}\scanner

    - name: Build and analyze
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      shell: powershell
      run: |
        ${{ runner.temp }}\scanner\dotnet-sonarscanner begin /k:"mbo2olivier_sonarqube-test" /o:"mbo2olivier" /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
        dotnet build
        ${{ runner.temp }}\scanner\dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"

    # Étape 3 : Détection de secrets (Exemple DevSkim)
    - name: Run DevSkim Scan
      uses: microsoft/DevSkim-Action@v1
      with:
        directory-to-scan: Cnss.VulnerableApi
